*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav {
    border: 0px solid black;    /* Màu viền */
}
/* body */
body {
    /* background-color: Gray;                  /* màu nền tổng */ 
    background-image: url("image/image.jpg");   /* hình nền tổng */  
    /* background-repeat: repeat-x;                lập lại hình  */
    background-repeat: no-repeat;               /* không lập lại hình */
}
/* header */
.header { 
    width: 100%;                                /* chiều rộng  */
    height: 200px;                              /* Chiều cao */
    background-color: white;                  /* Màu nền */
    
}
/* menu bar */
.menubar {
    width: 100%;
    height: 50px;
    background-color: black;
    
}

.menubar > p {
    color: white;       /* Màu chữ  */
    text-align: center;   /* Vị trí chữ */
    font-size: 200%;      /* Kích thước chữ */
}

.left {
    width: 20%;
    float: left;
    background-color: rgb(227, 227, 227);
}

.content {
    width: 60%;
    float: left;
    background-color: White;
}

.right {
    width: 20%;
    float: right;
    background-color: Gray;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: Black;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(118, 118, 118);
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
.btn2{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(right , #ff105f, #ffad06);
    border-radius: 0px;
    transition: .5s;
}
#Shop_Logo {
    width: 100%;
    height: 200px;
    object-fit: none;
    object-position: center top;
}

a:link, a:visited {
    margin: 0;
    background-color: black;
    color: white;
    padding: 16px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: white;
    color: black;
  }

b.link, b:visited {
    color: rgb(191, 191, 191);
}

b.hover, b:active {
    color: rgb(131, 131, 131)
}
