*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav {
    border: 0px solid black;    /* Màu viền */
}
/* body */
body {
    /* background-color: Gray;                  /* màu nền tổng */ 
    background-image: url("image/image.jpg");   /* hình nền tổng */  
    /* background-repeat: repeat-x;                lập lại hình  */
    background-repeat: no-repeat;               /* không lập lại hình */
}
/* header */
#header { 
    width: 100%;                                /* chiều rộng  */
    height: 400px;                              /* Chiều cao */
    background-color: white;                  /* Màu nền */
    
}

#footer {
    width: 100%;
    height: 400px;
    background-color: Black;
    color: white;
}

#Shop_Logo {
    width: 100%;
    height: 400px;
    object-fit: none;
    object-position: center top;
}


#linkbar{ 
    text-align: left;
    font-size: 20px;
    padding: 10px 30px;
}


a.linkbartext:link, a.linkbartext:visited {
    color: rgb(172, 172, 172);
    text-decoration: none;
}

a.linkbartext:hover, a.linkbartext:active {
    transition-duration: 0.5s;
    color: black;
}


a.CategoryTitle{
    width: 100%;
    font-size: 20px;
    color: black;
    text-align: left;
    padding: 16px 20px;
    margin: 0;
    display: inline-block;
}

input[type=text], select {
    width: 150px;
    padding: 16px 25px;
    margin: 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

label.Pricelab{
    width: 100%;
    padding: 16px 25px;
    font-size: 16px;
}

/* menu bar */
.menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.menubar {
    width: 100%;
    height: 45px;
    background-color: black;
    
}

.menubar li {
    float: left;
}

.menubar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.5s; 
}

.menubar li a:hover {
    transition-duration: 0.5s;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

/* Left bar */

.leftbar {
    list-style-type: none;
    width: 180px;
    float: left;
    overflow: hidden;
}

.leftbar ul {
    margin: 0; 
    padding: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(227, 227, 227);
}

.leftbar li a {
    width: 100%;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(227, 227, 227);
    padding: 16px 25px;
    text-decoration: none;
    transition-duration: 0.5s; 
    
}

.leftbar li a:hover {
    background-color: rgb(116, 116, 116);
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
    
} 

#left {
    width: 180px;
    float: left;
    background-color: rgb(227, 227, 227);
}

.button.PriceSearch {
    width:150px;
    background-color: #000000; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.5s; 
}

.button.PriceSearch:hover {
    background-color: rgb(69, 69, 69);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s; 
}

/* product */

#content {
    display: grid;
    width: auto;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto;
    background-color: #ffffff;
    padding: 10px;
}

.product{
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.product:hover{
    background-color: rgb(220, 220, 220);
    transition-duration: 0.5s; 
}

.pagination {
    display: inline-block;
}

#PaginationBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition-duration: 0.5s;
}
  
.pagination a.active {
    background-color: #000000;
    color: white;
  }

.pagination a:hover:not(.active){
    background-color: #838383;
    color:rgb(255, 255, 255);
    transition-duration: 0.5s;
}
  /* searchbar */
#search-box{
    background: white;
    float:right;
}
.search-box .search-text{
    border:none;
    outline: none;
    background: none;
    font-size:17px;
    width: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
.search-box:hover .search-text, .search-box #search-text:valid{
    width: 300px;
    padding: 10px 0px 10px 15px;
}
.search-box .search-btn{
    background-color: white;
    cursor: pointer;
    border:none;
    padding: 13px;
    font-size:17px;
}

